body{ background-image: url("1.jpg"); background-repeat: no-repeat; background-size: 100%; font-family: Courier New;
background-attachment: fixed;}

h1{ color: #C4F0FF; font-family: Courier New; font-size: 50px; background-color: #001933;}

.p1{ font-family: Courier New; font-size: 14px; color: #808080;}

.o3{ background-color: #606060; color: #C4F0FF; width: 1050px; height: 300px; border: solid purple 3px; font-size: 30px;}


img{ width: 220px; height: 300px; border: solid purple 3px; }

a{ text-decoration: none; color: #B266FF;}

.o1{ float: right;}

.o2{ float: left;}

.l1{ width: 100%;}

